@font-face {
    font-family: 'dolce_vitaquite_regular';
    src: url('dolce_vita-webfont.woff2') format('woff2'),
         url('dolce_vita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
	height: 100%; 
	width: 100%;
}

h1 {
	font-family: 'dolce_vitaquite_regular';
	color: #2aa0f8;
	text-align: center;
	letter-spacing: 2px;
	font-size: 50px; 
	line-height: 65px;
	margin: 0px;
	margin-bottom: 20px;
		
}

.logo {
	padding-bottom: 20px;
}

.form-check-label {
	padding: 20px;
}

.home-main {
	padding-bottom: 50px;
	margin: 0px auto; 
	max-width: 500px; 
	text-align: center;
}

.results-main{
	padding-top: 50px;
	padding-bottom: 20px;
	margin: 0px auto; 
	max-width: 500px; 
	text-align: center;
}

.home,.home .row {
	height: 100%;
}

.home .align-self-center {
	width: 100%;
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.tweet-result {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.good  {
	border-left: 4px solid green !important;
}

.bad {
	border-left: 4px solid #e21f1f;
}

.neutral {
	border-left: 4px solid #ffd600;
}
